<template name="postItem">
    {{#with post}}
        <div class="post">
            <div class="item">
                {{#if locationName}}
                    <i class="ion-location"></i>  {{locationName}}
                {{/if}}
            </div>
            <div class="item item-avatar">
                <img src="{{authorProfile.imageUrl}}">
                <h2>{{authorProfile.name}}</h2>
                <p>{{prettyTime}}</p>
            </div>

            <div class="item item-body">
                <p class="post-content">{{{prettyPostContent text}}}</p>

                {{#if linkMetadata}}
                    {{> mediaCard content=text meta=linkMetadata }}
                {{/if}}


                {{#if photo}}
                    {{> postImage url=photo}}
                {{/if}}
                
                {{#if ../showChannels}}
                <p>
                    <span class="in-channel">
                        {{#each channels}} 
                            <a class="button button-stable button-small" href="/channel/{{_id}}">#{{name}}</a>
                        {{/each}}
                    </span>
                </p>
                {{/if}}
            </div>
        </div>
    {{/with}}
</template>