.engagement {
    margin-top: 10px;
    font-size: 12px;
}

.post {
    .item.item-body {
        p, h2, h1 {
            margin-top: 0;
        }
    }

    .in-channel {
        font-size: 12px;
        color : #ccc;
        display: block;
        margin-top: 10px;
    }
}