<template name="newPostDialog">
    {{#ionModal customTemplate=true}}
        {{#autoForm collection="Posts" type="insert" id="postForm" resetOnSuccess=false}}  
            <div class="bar bar-header bar-stable">
                <button data-dismiss="modal" class="button button-small button-icon">
                    <i class="icon ion-ios-close-empty"></i>
                </button>
                <h2 class="title">New Post</h2>
                <button type="submit" class="button button-light button-small btn-post" {{postDisabled}}>
                    {{postButtonCaption}}
                </button>
            </div>

            <div class="content has-header">
                <div class="item item-avatar">
                    <img src="{{currentUserImageUrl}}">
                    <h2>{{currentUserName}}</h2>
                </div>


                {{#if currentGeoLocation}}
                    {{#with currentGeoLocation}}
                        {{> afFieldInput value=lat name='latitude' type="hidden"}}
                        {{> afFieldInput value=lng name='longitude' type="hidden"}}
                    {{/with}}
                {{/if}}

                {{> afFieldInput name='text' rows=5 placeholder="Share something interesting" style="padding:1em;"}}


                {{#if selectedLocation}}
                    <a class="item item-icon-left hide-on-keyboard-open" data-ion-modal="pickLocationDialog">
                        <i class="icon ion-ios-location"></i>{{selectedLocation.name}}    
                    </a>
                {{else}}
                    <a class="item item-icon-left hide-on-keyboard-open">
                        <i class="icon ion-ios-location"></i>
                        <span style="color:#ccc;">figuring out where you are ...</span>
                    </a>
                {{/if}}

                <a class="item item-icon-left hide-on-keyboard-open" data-ion-modal="pickChannelDialog">
                    <i class="icon ion-pound"></i>

                    {{#if selectedChannels}}
                        {{#each selectedChannels}}
                            {{name}}&nbsp;
                        {{/each}}
                    {{else}}
                        <span class="jumping-label">select a channel...</span>
                    {{/if}}
                </a>

                <a class="item item-icon-left camera hide-on-keyboard-open">
                    <i class="icon ion-camera"></i>
                    {{#if postPicture}}
                        <img src="{{postPicture}}" width="100">
                    {{else}}
                        attach a picture
                    {{/if}}
                </a>
            </div>
        {{/autoForm}}
    {{/ionModal}}
</template>