<template name="pickChannelDialog">
    {{#ionModal title="Choose Channel"}}
        {{#if isReady}}
            <ul class="list">
                {{#each channels}}
                    <li class="item item-checkbox">
                        <label class="checkbox">
                            <input type="checkbox" data-id="{{_id}}" {{checkedAttribute this}}>
                        </label>
                        #{{name}}
                    </li>
                {{/each}}
            </ul>
        {{else}}
            {{> loading}}
        {{/if}}
    {{/ionModal}}
</template>